body
{
  margin:0;
  padding: 0;
  background: #FFFFFF url("../Images/bg_body.png") repeat-x;
}

.Wrapper
{
  width:920px;
  margin:auto;
  background:#FFFFFF;
  box-shadow: 0 0 20px #666666;
  border-radius: 20px;
  overflow: hidden;
}

.Wrapper .Header
{
  height: 230px;
  background:#343434;
}

.Wrapper .Header .Content
{
  margin-bottom: 35px;
}

.Wrapper .Header .Content p
{
  margin:0px;
  padding-top: 40px;
  color:#CCCCCC;
  text-align: center;
  width: 570px;
  font:36px bold italic calibri, san-serif;
}

#mePhoto
{
  position: relative;
  float:right;
  margin-top: -70px;
  margin-right: 20px;
}

#mePhoto #icon1
{
  position: absolute;
  margin-top: -40px;
  left:60px;
}

#mePhoto #icon2
{
  position: absolute;
  margin-top: -40px;
  left:125px;
}

#bgLine
{
  height:50px;
  width:900px;
  margin-top: 40px;
  padding: 10px;
  position: absolute;
  background: #4D7AFF;
}

#nav
{
  margin-left:20px;
  margin-top: 50px;
}
/* Navigation Bar */
#nav ul{
  text-align: center;
  font: 32px bold italic calibri, san-serif;
  list-style:none;
  padding:0;
}

#nav li{
  padding-right: 10px;
  float:left;
  position:relative;
}

#nav li a{
  display:inline-block;
  width:200px;
  border:2px solid #FFF;
  color:#CCCCCC;
  text-decoration:none;
}

#nav li a:hover{
  padding: 0;
  margin:0;
  color:#f60;
  border:2px solid #99BBDD;
}
/* I don't use this code because menubar doesn't have anymore submenu'
#nav li ul{
  display:none;
  position:absolute;
  left:0;
}

#nav li:hover ul{
  display:block;
  margin-top: -2px;
  border:0
}

#nav li li{
  float:left;
  display: inline;   
}
#nav li li a{
  padding-top: 5px;
  background:#343434;
  white-space:pre; 
        
}
#nav li li a:hover{
  border:2px solid #99BBDD;
  padding-top: 5px;
}
*/
/* End Header-content */

.Wrapper .Middle
{
  min-height:800px;
  
}
.Wrapper .Middle #content #about
{
  padding: 0 40px 30px;
  //font: 32px bold italic calibri, san-serif;
  font-size: 20px;
  font-family:calibri ;
}

.Wrapper .Middle #content #experience
{
  padding: 0 40px 30px;
  //font: 32px bold italic calibri, san-serif;
  font-size: 20px;
  font-family:calibri ;
  
}
/* End Middle-content */

.Wrapper .Footer
{
  height:20px;
  background:#343434;
}

.Wrapper .Footer .Contact
{
  text-align: center;
  color: #CCCCCC;
  letter-spacing: 0.0625em;
}

/*Cv Form */

#cvHeader
{
  text-align: center;
}

#cvLineHeader
{
  font-weight: bold;
}

.cvFieldset ul{

  width: 650px;
  list-style:none;
  margin:auto;
  padding-top:20px;
  font-size: 18px;   
}
.cvFieldset ul label{
  height:30px;
  width: 530px;
  display: block;
  clear: both;
}

.cvFieldset ul li {
  padding-right: 10px;
  width: 350px;
  float: right;
}





